:host {
    width: 100%;
}

.drawer-container {
    width: auto;
    height: 95vh;
    background: white;
}

.drawer-menu-section {
    width:15%;
    background: var(--side-bar-color)
}

.drawer-content-section {
    height: 85vh;
}