.container{
    margin: 20px 40px 20px 20px;
    border-radius: 10px;
}

.heading{
    margin-bottom: 0;
    padding-bottom: 0;
}

.content{
    display: flex;
}

.button{
    margin-top: 20px;
}

.icon-style{
    color:#fb8500;
    transform: scale(2);
    height:40px;
    margin: 25px 25px 0 20px;
}