:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.universal-header {
    background-image: radial-gradient(1220px at 50% 50%, #5487fd, rgba(84, 135, 253, 0) 25%), radial-gradient(circle at 100% 50%, rgba(211, 178, 255, 0.5) 0%, rgba(211, 178, 255, 0) 32%), radial-gradient(circle at 0% 4%, rgba(242, 191, 191, 0.6) 0%, rgba(212, 181, 208, 0) 5.5%), radial-gradient(circle at 0% 50%, rgba(255, 225, 215, 0.6) 0%, rgba(255, 210, 197, 0.2) 10%, rgba(255, 196, 178, 0) 21%), linear-gradient(225deg, #5d83fe 0%, #8376f8 100%);
    height: auto;
    text-align: center;
    display: grid;
    font-size: 1.4rem;
    color: white;
}