<div class="dialog-size-alignment" mat-dialog-content [formGroup]="form">
    <h2 style="display: flex; justify-content: center;">Add New POC Details</h2>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput formControlName="age">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput formControlName="role">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
            <mat-option [value]="'Male'">Male</mat-option>
            <mat-option [value]="'Female'">Female</mat-option>
            <mat-option [value]="'Others'">Others</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
        <mat-label>From</mat-label>
        <input matInput formControlName="from_date" type="date">
    </mat-form-field>
    <mat-checkbox formControlName="isPresent" color="primary">Current POC?</mat-checkbox>
    <mat-form-field>
        <mat-label>To</mat-label>
        <input matInput formControlName="to_date" type="date">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button (click)="onSubmit()" [disabled]="this.form.invalid" color="primary">Add</button>
</div>